[submodule "lib/parallel-hashmap"]
	path = lib/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap
[submodule "lib/argh"]
	path = lib/argh
	url = https://github.com/adishavit/argh
[submodule "lib/kProcessor"]
	path = lib/kProcessor
	url = git@github.com:dib-lab/kProcessor.git
